body {
    position: relative;
}

.body-cont {
    /* background-image: url("../images/boardgame.jpg"); */
    /* opacity: 0.3; */
}

#answers {
    position: relative;
    /* top:200px; */
    left: 0px;
    /* color: black; */
    /* opacity: 1; */
}

input[type="radio" i] {
    float: left;
    display: none;
    
}

#response-correct, #response-incorrect, #resonse-timeout {
    white-space: pre-line;
}

button {
    display: none;
    float: left;
    margin: right 40px;
}